# ignore data files. Must manually configure
pnet_data/*

# ignore pred files
pi0*

# python files
*/__pycache__/

# notebook files
*ipynb_checkpoints/

# ignore containers. These are not tracked here
containers/*